# Dependencies
node_modules/

# Environment
.env
.env.*

# Config
config/settings.json

# Storage
storage/*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/